---
import "@fontsource-variable/red-hat-display";
import LandingLayout from "../../layouts/LandingLayout.astro";
import HeaderText from "../../components/HeaderText/HeaderText.astro";
import NavItem from "../../components/Header/NavItem.astro";
import Input from "../../components/Input.astro";
import TextArea from "../../components/TextArea.astro";
import PrimaryButton from "../../components/PrimaryButton.astro";
import FaqCard from "../../components/FaqCard.astro";
---

<LandingLayout title="Featured Works">
  <HeaderText
    headerTitle="Featured"
    secondTitle=" Works"
    headerPr="We don't just edit videos; we choreograph stories that resonate, inspire, and leave a lasting impression. Browse through our award-winning work and find concepts that move you"
  />
  <div class="bg-[#F2F4F7]">
    <div
      class="justify-center flex font-semibold text-[64px] leading-[84.67px] md:text-[48px] text-center sm:text-left sm:leading-[63.5px]"
    >
      <h1 class="text-4xl font-medium mb-4 font-[Red_Hat_Display_Variable]">
        Carefully Picked Videos
      </h1>
    </div>
    <div class="w-[100%] flex justify-center">
      <div
        class="mt-[56px] md:mt-[50px] xl:mt-[64px] flex justify-center w-[80%] mb-[40px] sm:flex-col"
      >
        <div
          class="flex justify-center gap-[40px] border-b-[1px] border-solid border-b-[#D0D5DD] w-[80%]"
        >
          <button
            class="font-['Noto_Sans'] font-[700] text-[16px] leading-[21.79px] text-[#FF601F] pb-[16px] border-b-[4px] border-solid border-b-[#FF601F]"
            >Business</button
          >
          <button
            class="font-['Noto_Sans'] font-[400] text-[16px] leading-[21.79px] text-[#344054] pb-[16px]"
            >Individual</button
          >
        </div>
        <NavItem href="#" hasDrop>Short Films</NavItem>
      </div>
    </div>
  </div>
  <div class="w-[100%] flex justify-center">
    <div class="w-[80%] flex justify-center items-center">
      <div class="w-full">
        <div class="justify-center flex">
          <div
            class="justify-center flex font-semibold text-[72px] leading-[95.26px] w-[80%] text-center md:text-[48px] sm:text-[24px]"
          >
            <h1>LET US KNOW HOW WE CAN HELP YOU</h1>
          </div>
        </div>
        <div class="w-full flex justify-center">
          <div
            class="mt-[56px] md:mt-[50px] xl:mt-[64px] flex justify-center w-[80%] mb-[40px]"
          >
            <div
              class="flex justify-center gap-[40px] border-b-[1px] border-solid border-b-[#D0D5DD] w-full"
            >
              <button
                class="font-['Noto_Sans'] font-[700] text-[16px] leading-[21.79px] text-[#FF601F] pb-[16px] border-b-[4px] border-solid border-b-[#FF601F]"
                >Business</button
              >
              <button
                class="font-['Noto_Sans'] font-[400] text-[16px] leading-[21.79px] text-[#344054] pb-[16px]"
                >Individual</button
              >
            </div>
          </div>
        </div>
        <div>
          <form
            action=""
            class="pt-[24px] pb-[164px] md:pb-[73px] xl:pb-[96px] px-[16px] mx-auto md:max-w-[607px] md:pt-[48px] xl:pt-[56px] grid gap-[24px]"
          >
            <Input label="Company Name" placeholder="Enter business name" />

            <Input label="Email Address" placeholder="Enter email address" />

            <Input label="Subject(Optional)" placeholder="Enter subject" />

            <TextArea
              label="Tell us what we can do for you."
              placeholder="Type your message"
            />

            <PrimaryButton type="submit">Send Message</PrimaryButton>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex justify-center gap-[40px] border-b-[1px] border-solid border-b-[#D0D5DD] mb-[20px]"
  >
  </div>
  <div>
    <FaqCard />
  </div>
</LandingLayout>
