---
import LandingLayout from '../layouts/LandingLayout.astro';
import Input from '../components/Input.astro';
import TextArea from '../components/TextArea.astro';
import PrimaryButton from '../components/PrimaryButton.astro';
import cardimg from '../../public/Image.svg'

const name = "individual";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
	
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans:wght@400;500;700&family=Plus+Jakarta+Sans:wght@500&family=Red+Hat+Display:wght@700&display=swap" rel="stylesheet">
	</head>
	<body class="min-h-screen">
	
	
 <div class="" > 
     <LandingLayout  title='RESOURCE'  >


        <div class="text-[16px] px-[161px] font-[400]">
            <ul class="  flex justify-between p-8">
            <li>Video Editing Tips</li>
            <li>Creative Storytelling</li>
            <li>Industry Insights</li>
            <li>Video Marketing</li>
        </ul>
        <ul>
            <li></li>
            <li></li>
        </ul>

        <div  >
            <h3 class=" relative font-[700] text-[24px] text-center mb-[42px] mt-[72px]">Featured</h3>
            <div  class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:grid-cols-3  ">
            <div class="space-y-3 mb-[64px] max-w-[376px]">
                <img src='/Image.svg' alt="" srcset=""/>
                <p class="font-[700] text-14 text-[#FF601F]">Video Editing</p>
                <p class="flex justify-between items-center">Time lapse and Mapping <img src="/veck.svg" alt="" srcset="" class="w-[14px] h-[14px]"/></p>
                <p class="text-4 text-[#667085] leading-6">We harness cutting-edge technology to capture the dynamic evolution of landscapes, cityscapes, and more.</p>
            </div>
            <div class="space-y-3 mb-[64px] max-w-[376px]">
                <img src='/Image.svg' alt="" srcset=""/>
                <p class="font-[700] text-14 text-[#FF601F]">Video Editing</p>
                <p class="flex justify-between items-center">Time lapse and Mapping <img src="/veck.svg" alt="" srcset="" class="w-[14px] h-[14px]"/></p>
                <p class="text-4 text-[#667085] leading-6">We harness cutting-edge technology to capture the dynamic evolution of landscapes, cityscapes, and more.</p>
            </div>
            <div class="space-y-3 mb-[64px] max-w-[376px]">
                <img src='/Image.svg' alt="" srcset=""/>
                <p class="font-[700] text-14 text-[#FF601F]">Video Editing</p>
                <p class="flex justify-between items-center">Time lapse and Mapping <img src="/veck.svg" alt="" srcset="" class="w-[14px] h-[14px]"/></p>
                <p class="text-4 text-[#667085] leading-6">We harness cutting-edge technology to capture the dynamic evolution of landscapes, cityscapes, and more.</p>
            </div>
            <div class="space-y-3 mb-[64px] max-w-[376px]">
                <img src='/Image.svg' alt="" srcset=""/>
                <p class="font-[700] text-14 text-[#FF601F]">Video Editing</p>
                <p class="flex justify-between items-center">Time lapse and Mapping <img src="/veck.svg" alt="" srcset="" class="w-[14px] h-[14px]"/></p>
                <p class="text-4 text-[#667085] leading-6">We harness cutting-edge technology to capture the dynamic evolution of landscapes, cityscapes, and more.</p>
            </div>
  
            <div class="space-y-3 mb-[64px] max-w-[376px]">
                <img src='/Image.svg' alt="" srcset=""/>
                <p class="font-[700] text-14 text-[#FF601F]">Video Editing</p>
                <p class="flex justify-between items-center">Time lapse and Mapping <img src="/veck.svg" alt="" srcset="" class="w-[14px] h-[14px]"/></p>
                <p class="text-4 text-[#667085] leading-6">We harness cutting-edge technology to capture the dynamic evolution of landscapes, cityscapes, and more.</p>
            </div>
            <div class="space-y-3 mb-[64px] max-w-[376px]">
                <img src='/Image.svg' alt="" srcset=""/>
                <p class="font-[700] text-14 text-[#FF601F]">Video Editing</p>
                <p class="flex justify-between items-center">Time lapse and Mapping <img src="/veck.svg" alt="" srcset="" class="w-[14px] h-[14px]"/></p>
                <p class="text-4 text-[#667085] leading-6">We harness cutting-edge technology to capture the dynamic evolution of landscapes, cityscapes, and more.</p>
            </div>
      </div>
        </div>
        <div class="flex items-center justify-between mt-[64px] ">
            <div>
                <p class="text-[#101828] flex items-center gap-2 space-x-2 text-sm font-normal"> 
                    <img src="/arrow-left.svg" alt="" srcset="" class="w-4 h-4" />Previous </p>
            </div>
            <ul class="flex text-sm text-[#667085] font-[500]">
                <li class="p-[12px]">1</li>
                <li class="p-[12px]">3</li>
                <li class="p-[12px]">4</li>
                <li class="p-[12px]">5</li>
                <li class="p-[12px]">6</li>
                <li class="p-[12px]">7</li>
                <li class="p-[12px]">8</li>
                <li class="p-[12px]">10</li>
            </ul>
            <div>
                <p  class="text-[#101828] flex items-center gap-2 space-x-2 text-sm font-normal"> 
                    Next<img src="/arrow-right.svg" alt="" srcset="" class="w-4 h-4" /></p>
            </div>
  
        </div>
    </div>
 

        <div class="py-[107px] bg-[#F2F4F7]  px-[161px] mx-start">
            <div class="flex items-center gap-24 pl-[84px] my-12 pr-1 bg-white  justify-between">
            <div class='max-w-[532px] my-auto space-y-8 m-[]'>
                <h2 class="text-9 text-[#101828] font-[700] ">Businesses and Brands</h2>
                <p class="font-normal text-[16px] text-[#1D2939] leading-6">From marketing strategies to the latest industry
                     insights, our resources are designed to be your
                      guiding light in the world of visual storytelling.
                       We're dedicated to helping businesses harness the true
                        potential of video content to connect with their audience,
                         drive conversions, and elevate their brand presence.</p>
                <button class="text-4  flex items-center justify-between p-3 gap-2 border-2 font-[700]  text-[#101828] border-[#101828]">VIEW RESOURCES  <img src='/veck.svg' alt="" srcset="" class="w-4 h-4"/></button>
            </div>
            <img src="/pic1.svg" alt="" srcset="" class="w-[396px] h-[420px]"/>
        </div>
            <div>
                <div class="flex items-center gap-24 pl-[84px] my-[] pr-1 bg-[#F4E2DD]  justify-between">
                    <div class='max-w-[532px] my-auto space-y-8 m-[]'>
                        <h2 class="text-9 text-[#101828] font-[700] ">Individuals</h2>
                        <p class="font-normal text-[16px] leading-6 text-[#1D2939]">From marketing
                             strategies to the latest industry insights, our resources are 
                             designed to be your guiding light in the world of visual storytelling.
                              We're dedicated to helping businesses harness the true potential of video content to connect with their audience, 
                            drive conversions, and elevate their brand presence.</p>
                            <button class="text-4  flex items-center justify-between p-3 gap-2 border-2 font-[700]  text-[#101828] border-[#101828]">VIEW RESOURCES  <img src='/veck.svg' alt="" srcset="" class="w-4 h-4"/></button>
                        </div>
                    <img src="/pic2.svg" alt="" srcset="" class="w-[396px] h-[420px]"/>
                </div>
                   
        </div>
        

</div>


</LandingLayout>
</body>
</html>
