---
interface Props {
	title: string;
	description:string;
}

const { title, description } = Astro.props;
---

<div class="bg-[#FCFCFD] px-[31px] py-[30px]">
    <div class=" flex flex-col">
        <div class="">
            <h1 class="text-[24px] leading-[38.4px] text-[#1D2939]">{title}</h1>
            <p class="text-[16px] leading-[25.6px] text-[#344054] pb-[38px]">{description}</p>
        </div>
        <button class="flex items-center justify-center space-x-3 text-[16px] leading-[24px] text-[#101828] border-[1px] border-[#D0D5DD] rounded-[8px] py-[12px] px-[20px]">
           <span> LEARN MORE </span>
            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M16.5 2L2.5 16M16.5 2V15.1765M16.5 2H3.32353" stroke="#101828" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel"/>
</svg>

        </button>
    </div>

</div>