<template>
    <div class="w-4/5">
      <div class="flex justify-center gap-[40px] border-b-[1px] border-solid border-b-[#D0D5DD]">
        <button
          data-tab-control="business"
          data-tab-current
          class="font-['Noto_Sans'] font-[700] text-[16px] leading-[21.79px] text-[#FF601F] pb-[16px] border-b-[4px] border-solid border-b-[#FF601F]"
        >
          Business
        </button>
        <button
          data-tab-control="individual"
          class="font-['Noto_Sans'] font-[400] text-[16px] leading-[21.79px] text-[#344054] pb-[16px]"
        >
          Individual
        </button>
      </div>
      <div class="w-1/5">
        <div class="border-l border-gray-300 pl-4">
          <!-- Your dropdown content goes here -->
          <ul>
            <li class="py-2">Dropdown Item 1</li>
            <li class="py-2">Dropdown Item 2</li>
            <li class="py-2">Dropdown Item 3</li>
          </ul>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  export const props = {}
  </script>
  