---
import PrimaryButton from "./PrimaryButton.astro";
import Arrow from "/public/Vector 1.svg"
import FaqCard from "../components/FaqCard.astro"
import Input from "./Input.astro";
import TextArea from "./TextArea.astro";
const name = "individual";

---



<main class=" max-m-7xl ">
    <section class="w-auto py-10 sm:p-20">

    
<dev id="hero" class=" mx-auto h-[28rem]  grid  place-content-center text-center md:py-[15rem] border border-solid border-white-300">
    <h1 class="max-w-[52.5rem] font-bold text-3xl capitalize md:text-6xl lead">Crafting visual stories <span class="text-[#FF601F]"> beyond</span> imagination</h1>
    <p class="max-w-[32.5rem] mt-2 mx-auto text-base">Elevate your brand, Experience the power of storytelling through the lens of creativity and innocation</p>
  <div class="flex justify-center py-6">
<button class="flex items-center bg-[#FF601F]  hover:bg-[#ff8b1f9c] text-white font-bold py-2 px-4 rounded">
  LET'S talk!
  <span class="ml-2">
    <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16.5 2L2.5 16M16.5 2V15.1765M16.5 2H3.32353" stroke="white" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel"/>
    </svg>
  </span>
</button>

  </div>
</dev>
</section>

<section class="py-3" >
      <div class="py-[64px] bg-[#FF4D002B]">
    <div class="grid gap-[32px]">
      <p class="font-['Noto_Sans'] font-[500] text-[16px] leading-[24px] text-center text-[#1D2939]">Join 4,000+ companies already growing</p>

      <div class="flex flex-wrap justify-between gap-y-[48px] w-[calc(100%-16px)] max-w-[326px] md:w-[calc(100%-32px)] md:max-w-[770px] md:flex md:flex-wrap md:justify-center md:gap-x-[99px] md:gap-y-[48px] xl:max-w-[1280px] xl:gap-[99px] mx-auto">
        <img src="/images/airbnb.svg" />
        <img src="/images/linear.svg" />
        <img src="/images/paypal.svg" />
        <img src="/images/youtube.svg" />
        <img src="/images/uber.svg" />
        <img src="/images/zoom.svg" />
      </div>
    </div>
  </div>
</section>
<!-- ................................................................... -->
<section>
<dev  class="bg-[#101828] mx-auto h-[28rem] p-4 grid gap-4 place-content-center text-center md:py-[15rem] border border-solid border-gray-300">
<h1 class="max-w-[52.5rem] font-red-hat text-3xl font-bold capitalize md:text-6xl leading-[1.1] outline-white ">
  <span class="text-stroke">We are more than </span>
</h1>

<h1 class="max-w-[52.5rem] font-red-hat text-3xl font-bold capitalize md:text-6xl leading-[1.1]">
<span class="text-stroke">just a website.</span></h1>

</dev>

</section> 

<section class="mt-6 text-center">
  

    <div class="mx-auto max-w-[75rem] px-4 py-8 grid gap-6 sm:grid-cols-2 sm:py-16 md:grid-cols-6 md:col-span-2 xl:grid-cols-4">
        <h3 class="col-span-full mx-auto mb-6 font-semibold text-2xl text-gray-1100 md:text-4xl lg:text-5xl lg:max-w-[48rem]">...we are your creative partner in <span class="text-[#FF601F]">visual</span> storytelling...</h3>

        <div class='bg-gray-300 p-6 grid justify-center items-center gap-2 md:col-span-2 xl:col-span-1'>
            <img class="mx-auto" src="/public/images/video-icon.svg" alt="icon">
            <h5 class="mt-3 font-bold text-lg text-gray-1000">Video Editing</h5>
            <p>Comprehensive video editing to enhance visual appeal</p>
        </div>

        <div class='bg-gray-300 p-6 grid justify-center items-center gap-2 md:col-span-2 xl:col-span-1'>
            <img class="mx-auto" src="/images/color-icon.svg" alt="icon">
            <h5 class="mt-3 font-bold text-lg text-gray-1000">Color Grading</h5>
            <p>Comprehensive video editing to enhance visual appeal</p>
        </div>

        <div class='bg-gray-300 p-6 grid justify-center items-center gap-2 md:col-span-2 xl:col-span-1'>
            <img class="mx-auto" src="/images/audio-icon.svg" alt="icon">
            <h5 class="mt-3 font-bold text-lg text-gray-1000">Audio Editing</h5>
            <p>Comprehensive video editing to enhance visual appeal</p>
        </div>

        <div class='bg-gray-300 p-6 grid justify-center items-center gap-2 md:col-span-2 xl:col-span-1'>
            <img class="mx-auto" src="/images/transitions-icon.svg" alt="icon">
            <h5 class="mt-3 font-bold text-lg text-gray-1000">Transitions and Effects</h5>
            <p>Comprehensive video editing to enhance visual appeal</p>
        </div>

        <div class='bg-gray-300 p-6 grid justify-center items-center gap-2 md:col-span-2 xl:col-span-1'>
            <img class="mx-auto" src="/images/motion-icon.svg" alt="icon">
            <h5 class="mt-3 font-bold text-lg text-gray-1000">Motion Graphics</h5>
            <p>Comprehensive video editing to enhance visual appeal</p>
        </div>

        <div class='bg-gray-300 p-6 grid justify-center items-center gap-2 md:col-span-2 xl:col-span-1'>
            <img class="mx-auto" src="/images/effect-icon.svg" alt="icon">
            <h5 class="mt-3 font-bold text-lg text-gray-1000">Visual Effects</h5>
            <p>Comprehensive video editing to enhance visual appeal</p>
        </div>

        <div class='bg-gray-300 p-6 grid justify-center items-center gap-2 md:col-span-3 xl:col-span-1'>
            <img class="mx-auto" src="/images/time-icon.svg" alt="icon">
            <h5 class="mt-3 font-bold text-lg text-gray-1000">Time-Lapse Editing</h5>
            <p>Comprehensive video editing to enhance visual appeal</p>
        </div>

        <div class='bg-gray-300 p-6 grid justify-center items-center gap-2 md:col-span-3 xl:col-span-1'>
            <img class="mx-auto" src="/images/cleanup-icon.svg" alt="icon">
            <h5 class="mt-3 font-bold text-lg text-gray-1000">Video Cleanup</h5>
            <p>Comprehensive video editing to enhance visual appeal</p>
        </div>
   <div class="col-span-full mx-auto mb-6 ">
  <button class="flex items-center text-black font-bold py-2 px-4 rounded border border-solid border-white-300">
    EXPLORE ALL SERVICES
    <span class="ml-2">
      <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="text-black">
        <path d="M16.5 2L2.5 16" stroke="black" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel" />
        <path d="M16.5 2V15.1765" stroke="black" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel" />
        <path d="M16.5 2H3.32353" stroke="black" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel" />
      </svg>
    </span>
  </button>
</div>


    </div>
</section>
<!-- ................................................... -->



<section class="mx-auto mt-10 p-6 grid gap-8 max-w-[77.5rem]">
    <h2 class="col-span-full mx-auto mb-6 font-semibold text-2xl text-gray-1100 text-center md:text-4xl lg:text-5xl lg:max-w-[48rem]">...but what makes us so special...</h2>

    <div class="flex flex-col gap-2 lg:flex-row lg:items-center">
        <div class="grid gap-2 lg:min-w-[28rem] ">
            <span class="font-bold text-5xl text-gray-500">01</span>
            <h3 class="font-medium text-2xl capitalize xl:text-3xl">We <span class="text-orange">craft</span> compelling media</h3>
            <p>We empower you to create captivating stories that resonate with your audience</p>
        </div>

        <div class="w-full">
            <img class="rounded-lg md:hidden" src='./images/portfolio-image-mobile.png' alt=''>
            <img class="hidden w-full rounded-lg md:block" src='./images/portfolio-image.png' alt=''>
        </div>
    </div>

    <div class="flex flex-col gap-2 lg:flex-row lg:items-center">
        <div class="grid gap-2 lg:min-w-[28rem] ">
            <span class="font-bold text-5xl text-gray-500">02</span>
            <h3 class="font-medium text-2xl capitalize xl:text-3xl">We <span class="text-orange">craft</span> compelling media</h3>
            <p>We empower you to create captivating stories that resonate with your audience</p>
        </div>

        <div class="w-full">
            <img class="rounded-lg md:hidden" src='./images/portfolio-image1-mobile.png' alt=''>
            <img class="hidden w-full rounded-lg md:block" src='./images/portfolio-image1.png' alt=''>
        </div>
    </div>

    <div class="flex flex-col gap-2 lg:flex-row lg:items-center">
        <div class="grid gap-2 lg:min-w-[28rem] ">
            <span class="font-bold text-5xl text-gray-500">03</span>
            <h3 class="font-medium text-2xl capitalize xl:text-3xl">We <span class="text-orange">craft</span> compelling media</h3>
            <p>We empower you to create captivating stories that resonate with your audience</p>
        </div>

        <div class="w-full">
            <img class="rounded-lg md:hidden" src='./images/portfolio-image2-mobile.png' alt=''>
            <img class="hidden w-full rounded-lg md:block" src='./images/portfolio-image2.png' alt=''>
        </div>
    </div>
      <div class="col-span-full mx-auto mb-6 py-4 ">
  <button class="flex items-center text-black font-bold py-2 px-4 rounded border border-solid border-white-300">
VIEW RECENT WORK
    <span class="ml-2">
      <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="text-black">
        <path d="M16.5 2L2.5 16" stroke="black" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel" />
        <path d="M16.5 2V15.1765" stroke="black" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel" />
        <path d="M16.5 2H3.32353" stroke="black" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel" />
      </svg>
    </span>
  </button>
</div>
</section>


<section class="mt-12">
    <h2 class="bg-[#101828] px-4 py-[5rem] font-[800] text-5xl text-[#FFFFFF36] text-center uppercase leading-[1.5] md:text-6xl md:text-start md:py-[9rem] xl:text-7xl xl:py-[14rem]">
        <p class="flex flex-col mx-auto md:max-w-[46rem] xl:max-w-[56rem]">
            Your vision
            <span class="inline-block self-end">...is our mission</span>
        </p>    
    </h2>

    
		<section class="custom-solutions-section">
			<div class="solutions-title-container">
				<p class="solutions-title-text hidden md:block font-noto">WHO WE HELP</p>
				<p class="solutions-title-text block md:hidden font-noto">WHO WE HELP</p>
				<h3 class="solutions-title font-redhat">We offer Custom Solutions for...</h3>
			</div>
			<div class="solution-cards">
				<div class="solution-card bg-[#F2F4F7]">
					<h4 class="solution-card-title">Businesses and Brands</h4>
                    <p>
                        We're dedicated to helping businesses harness the true potential of video content to connect with their audience, drive conversions, and elevate their brand presence.
                    </p>
					<ul class="solution-list">
						<li><img src="/public/tick-circle.svg"/> Startups</li>
						<li><img src="/tick-circle.svg"/> Retail and E-commerce</li>
						<li><img src="/tick-circle.svg"/> Real Estate</li>
						<li><img src="/tick-circle.svg"/> Entertainment and Media</li>
						<li><img src="/tick-circle.svg"/> Education and E-Learning</li>
						<li><img src="/tick-circle.svg"/> And many more</li>
					</ul>
					<p>We&apos;re here to help you. Reach out to us as soon as possible!</p>
 <div class="col-span-full  mb-6 py-4 ">
  <button class="flex items-center text-black font-bold py-2 px-4 rounded border border-solid border-white-300">
SEE BUSINESSES    <span class="ml-2">
      <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="text-black">
        <path d="M16.5 2L2.5 16" stroke="black" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel" />
        <path d="M16.5 2V15.1765" stroke="black" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel" />
        <path d="M16.5 2H3.32353" stroke="black" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel" />
      </svg>
    </span>
  </button>
</div>
				</div>

				<div class="solution-card bg-[#fcece7]">
					<h4 class="solution-card-title font-noto">Individuals</h4>
                    <p>
                        Whether you're a content creator, a filmmaker, or someone with a passion for video, we're here to help you turn your vision into captivating reality, enhancing your storytelling, and making every frame count.
                    </p>
					<ul class="solution-list">
						<li><img src="/tick-circle.svg"/> Content Creators</li>
						<li><img src="/tick-circle.svg"/> Travel Enthusiasts</li>
						<li><img src="/tick-circle.svg"/> Special Occasion Celebrants</li>
						<li><img src="/tick-circle.svg"/> Email Marketing Videos</li>
						<li><img src="/tick-circle.svg"/> Creative Artists</li>
						<li><img src="/tick-circle.svg"/> And many more</li>
					</ul>

           <div class="col-span-full  mb-6 py-4 ">
  <button class="flex items-center text-black font-bold py-2 px-4 rounded border border-solid border-white-300">
SEE INDIVIDUALS    <span class="ml-2">
      <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="text-black">
        <path d="M16.5 2L2.5 16" stroke="black" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel" />
        <path d="M16.5 2V15.1765" stroke="black" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel" />
        <path d="M16.5 2H3.32353" stroke="black" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel" />
      </svg>
    </span>
  </button>
</div>
				</div>
			</div>
        
</section>


<!-- .................................................................................................................. -->
<section class="bg-[#F2F4F7] p-6 py-16 xl:py-24">
    <div class="max-w-[77rem] mx-auto grid gap-6 xl:grid-cols-3">
        <div class="col-span-full text-center">
            <p class="text-orange md:block font-noto font-bold text-base md:text-xl">OUR PROCESS</p>
            <h2 class="my-4 font-semibold text-2xl md:text-4xl lg:text-6xl">What you can expect...</h2>
        </div>
    
        <div class="bg-white rounded-lg grid">
            <img class="w-full rounded-t-lg md:hidden xl:block" src="/images/expectation.png" alt="">
            <img class="hidden w-full rounded-t-lg md:block xl:hidden" src="/images/expectation-tablet.png" alt="">
            <div class="p-6 md:max-w-[33.75rem] mx-auto">
                <h5 class="font-bold text-center md:text-lg">Strategic <span class="text-orange">Collaboration</span></h5>
                <p class="mt-4 text-center">We collaborate with you to translate your ideas into captivating visual narratives that meet your goals.</p>
            </div>
        </div>
    
        <div class="bg-white rounded-lg grid">
            <img class="w-full rounded-t-lg md:hidden xl:block" src="/images/professional.png" alt="">
            <img class="hidden w-full rounded-t-lg md:block xl:hidden" src="/images/professional-tablet.png" alt="">
            <div class="p-6 md:max-w-[33.75rem] mx-auto">
                <h5 class="font-bold text-center md:text-lg">Professional <span class="text-orange">Talent</span></h5>
                <p class="mt-4 text-center">We bring together a pool of skilled video editors, cinematographers, and storytellers who are passionate about their craft.</p>
            </div>
        </div>
    
        <div class="bg-white rounded-lg grid">
            <img class="w-full rounded-t-lg md:hidden xl:block" src="/images/timely.png" alt="">
            <img class="hidden w-full rounded-t-lg md:block xl:hidden" src="/images/timely-tablet.png" alt="">
            <div class="p-6 md:max-w-[33.75rem] mx-auto">
                <h5 class="font-bold text-center md:text-lg"><span class="text-orange">Timely</span> Delivery</h5>
                <p class="mt-4 text-center">We understand the importance of deadlines. Count on us to deliver your projects on time, every time.</p>
            </div>
        </div>
    </div>
</section>


<!-- ....................................................................................... -->

<section class="text-center">
    <div class="px-4 py-12 grid gap-5 bg-gray-1000 text-gray-600 md:py-[5rem] xl:py-[7rem]">
        <h2  class="max-w-[36rem] mx-auto font-semibold text-3xl text-white md:text-4xl">Our Curated Masterpieces</h2>
        <p class="max-w-[36rem] mx-auto ">Projects that define our commitment to storytelling, innovation, and the art of video editing. Each video is a masterpiece, a testament to our dedication to making your vision a reality</p>
    </div>

    <div class="tech-div py-[15rem] text-white grid gap-2 xl:py-[18.5rem]">
        <h5 class="font-bold md:text-5xl xl:text-7rem">The Tech Guy</h5>
        <p class="text-xl">A Day in the life of a Software Developer</p>

           <div class="col-span-full mx-auto mb-6 py-4 ">
  <button class="flex items-center text-white font-bold py-2 px-4 rounded border border-solid border-white-300">
VIEW RECENT WORK
   <span class="ml-2">
  <svg class="text-white" width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M16.5 2L2.5 16" stroke="white" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel" />
    <path d="M16.5 2V15.1765" stroke="white" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel" />
    <path d="M16.5 2H3.32353" stroke="white" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel" />
  </svg>
</span>

  </button>
</div>
    </div>

    <div class="mtn-div py-[15rem] text-white grid gap-2 xl:py-[18.5rem]">
        <h5 class="font-bold md:text-5xl xl:text-7rem">We Are the Pulse</h5>
        <p class="text-xl">An Ad made for MTN</p>


                 <div class="col-span-full mx-auto mb-6 py-4 ">
  <button class="flex items-center text-white font-bold py-2 px-4 rounded border border-solid border-white-300">
VIEW RECENT WORK
   <span class="ml-2">
  <svg class="text-white" width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M16.5 2L2.5 16" stroke="white" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel" />
    <path d="M16.5 2V15.1765" stroke="white" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel" />
    <path d="M16.5 2H3.32353" stroke="white" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel" />
  </svg>
</span>

  </button>
</div>
    </div>

    <div class="all-projects py-[15rem] text-white grid gap-2 xl:py-[18.5rem]">
        <h5 class="font-bold md:text-5xl xl:text-7rem relative z-1">All Projects</h5>
        <p class="text-xl relative z-1">We don’t like to brag, so let our work do the talking</p>

                 <div class="col-span-full mx-auto mb-6 py-4 ">
  <button class="flex items-center text-white font-bold py-2 px-4 rounded border border-solid border-white-300">
VIEW RECENT WORK
   <span class="ml-2">
  <svg class="text-white" width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M16.5 2L2.5 16" stroke="white" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel" />
    <path d="M16.5 2V15.1765" stroke="white" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel" />
    <path d="M16.5 2H3.32353" stroke="white" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel" />
  </svg>
</span>

  </button>
</div>
    </div>
</section>

<!-- ........................................................................................ -->
<section class="py-16 xl:py-[12rem]">
    <div class="max-w-[77rem] mx-auto grid gap-6 xl:grid-cols-3">
        <div class="col-span-full text-center">
            <p class="text-orange md:block font-noto font-bold text-base md:text-xl">OUR REPUTATION</p>
            <h2 class="my-4 font-semibold text-2xl md:text-4xl lg:text-6xl">Why our Clients love us</h2>
        </div>
    </div> 

    <div class="carousel mt-10 py-6 flex gap-4 overflow-scroll justify-center items-center">
        <div class="min-w-[27.85rem] bg-white p-6 rounded-lg text-2xl text-[#1D2939] hover:bg-[#1D2939] hover:text-white md:text-3xl">
            <span class="text-orange italic">"</span>
            <p class="mt-4">They pull it off, again and again</p>
    
            <div class="py-4 flex gap-2 justify-start items-center">
                <div class="w-12 h-12 bg-[#D9D9D9] rounded-full"></div>
                <div class="grid ">
                    <span class="text-sm md:text-base">Barry Bones</span>
                    <span class="text-xs text-gray-500 md:text-sm">MTN</span>
                </div>
            </div>
        </div>

        <div class="min-w-[27.85rem] bg-white p-6 rounded-lg text-2xl text-[#1D2939] hover:bg-[#1D2939] hover:text-white md:text-3xl">
            <span class="text-orange italic">"</span>
            <p class="mt-4">Absorbed our model immediately!!</p>
    
            <div class="py-4 flex gap-2 justify-start items-center">
                <div class="w-12 h-12 bg-[#D9D9D9] rounded-full"></div>
                <div class="grid ">
                    <span class="text-sm md:text-base">Stephan Crew</span>
                    <span class="text-xs text-gray-500 md:text-sm">Content Creator</span>
                </div>
            </div>
        </div>

        <div class="min-w-[27.85rem] bg-white p-6 rounded-lg text-2xl text-[#1D2939] hover:bg-[#1D2939] hover:text-white md:text-3xl">
            <span class="text-orange italic">"</span>
            <p class="mt-4">Took time to learn our business</p>
    
            <div class="py-4 flex gap-2 justify-start items-center">
                <div class="w-12 h-12 bg-[#D9D9D9] rounded-full"></div>
                <div class="grid ">
                    <span class="text-sm md:text-base">Andrew Price</span>
                    <span class="text-xs text-gray-500 md:text-sm">CMBBS</span>
                </div>
            </div>
        </div>

        <div class="min-w-[27.85rem] bg-white p-6 rounded-lg text-2xl text-[#1D2939] hover:bg-[#1D2939] hover:text-white md:text-3xl">
            <span class="text-orange italic">"</span>
            <p class="mt-4">Genuine and special team members</p>
    
            <div class="py-4 flex gap-2 justify-start items-center">
                <div class="w-12 h-12 bg-[#D9D9D9] rounded-full"></div>
                <div class="grid ">
                    <span class="text-sm md:text-base">Barry Bones</span>
                    <span class="text-xs text-gray-500 md:text-sm">MTN</span>
                </div>
            </div>
        </div>

        <div class="min-w-[27.85rem] bg-white p-6 rounded-lg text-2xl text-gray-1100 hover:bg-[#1D2939] hover:text-white md:text-3xl">
            <span class="text-orange italic">"</span>
            <p class="mt-4">They pull it off, again and again</p>
    
            <div class="py-4 flex gap-2 justify-start items-center">
                <div class="w-12 h-12 bg-[#D9D9D9] rounded-full"></div>
                <div class="grid ">
                    <span class="text-sm md:text-base">Andy Curry</span>
                    <span class="text-xs text-gray-500 md:text-sm">AirBnb</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="">
    <h3 class="create  bg-[#101828] px-4 py-[5rem] font-[800] text-5xl text-[#FFFFFF36] text-center uppercase leading-[1.5] md:text-6xl md:text-start md:py-[9rem] xl:text-7xl xl:py-[14rem]">
        <p class="flex flex-col mx-auto md:max-w-[46rem] xl:max-w-[56rem]">
            Like to be among
            <span class="inline-block self-end">our happy clients?</span>
        </p>  
        
    </h3>
   
 <div class="px-[16px] mt-[64px] md:mt-[106px] xl:mt-[98px] grid gap-[24px]">
    <p class="uppercase font-['Red_Hat_Display'] font-[700] text-[32px] text-center leading-[42.34px] md:text-[48px] md:leading-[63.5px] xl:text-[72px] xl:leading-[95.26px]">GET IN TOUCH</p>
  
    <p class="font-['Noto_Sans'] font-[400] text-[16px] leading-[25.6px] text-center max-w-[643px] mx-auto xl:max-w-[862px]">In just 48 hours, our experts will meticulously assess your video content and reveal untapped opportunities for enhancing your <span class="font-[700]">brand</span> and visual storytelling.</p>
  </div>

  <div class="tabs mt-[56px] md:mt-[50px] xl:mt-[64px]">
    <div class="flex justify-center gap-[40px] border-b-[1px] border-solid border-b-[#D0D5DD]">
      <button data-tab-control="business" data-tab-current class="font-['Noto_Sans'] font-[700] text-[16px] leading-[21.79px] text-[#FF601F] pb-[16px] border-b-[4px] border-solid border-b-[#FF601F]">Business</button>
      <button data-tab-control="individual" class="font-['Noto_Sans'] font-[400] text-[16px] leading-[21.79px] text-[#344054] pb-[16px]">Individual</button>
    </div>

    <div>
      <div data-tab-business>
        <form action="" class="pt-[24px] pb-[164px] md:pb-[73px] xl:pb-[96px] px-[16px] mx-auto md:max-w-[607px] md:pt-[48px] xl:pt-[56px] grid gap-[24px]">
          <Input type='text' label="Company Name" placeholder="Enter business name" />
  
          <Input type='email' label="Business Email Address" placeholder="Enter email address" />
  
          <Input type='email' label="Subject(Optional)" placeholder="Enter subject" />
  
          <TextArea label='Tell us what you need.' placeholder='Type your message' />
  
          <PrimaryButton type="submit">Send Message</PrimaryButton>
        </form>
      </div>

      <div class="hidden" {...{[`data-tab-${name}`]:''}}>
        <form action="" class="pt-[24px] pb-[164px] md:pb-[73px] xl:pb-[96px] px-[16px] mx-auto md:max-w-[607px] md:pt-[48px] xl:pt-[56px] grid gap-[24px]">
          <Input type='text' label="Full Name" placeholder="Enter full name" />

          <Input type='email' label="Email Address" placeholder="Enter email address" />

          <Input type='text' label="Subject(Optional)" placeholder="Enter subject" />

          <TextArea label='Tell us what you need.' placeholder='Type your message' />

          <PrimaryButton type="submit">Send Message</PrimaryButton>
        </form>
      </div>
    </div>
  </div>



  <script>
  const tabs = document.querySelectorAll('.tabs');

  tabs.forEach(tab => {
    const currentClassList = tab.querySelector('[data-tab-current]')?.classList?.toString();
    const clickables = tab.querySelectorAll('[data-tab-control]');

    clickables.forEach((clickable) => {
      clickable.addEventListener('click', (event:any) => {
        if (event.target.classList.toString() !== currentClassList) {
          const inactiveClassList = event.target.classList;
          const toHide = tab.querySelector('[data-tab-current]')?.getAttribute('data-tab-control');
          const toShow = event.target.getAttribute('data-tab-control');
          const el = tab.querySelector(`[data-tab-${toHide}]`);

          tab.querySelector('[data-tab-current]')?.setAttribute('class', inactiveClassList.toString());
          tab.querySelector('[data-tab-current]')?.removeAttribute('data-tab-current');
          event.target.setAttribute('class', currentClassList);
          event.target.setAttribute('data-tab-current', '');

          tab.querySelector(`[data-tab-${toShow}]`)?.setAttribute('class', el?.classList?.toString() as string);
          el?.setAttribute('class', 'hidden');
        }
      })
    });
  });
</script>
</section>

<section>

<FaqCard/>
</section>
<!-- .................................................................................... -->
<style>
    #hero{
        background: url('/public/hero-mobile.png') 50% 100% no-repeat;
        background-size: cover;
    }
    @media screen and (min-width: 768px) {
        #hero{
            background: url('/public/hero (copy).png') 50% 50% no-repeat;
            background-size: cota;
        }
        }


        /* Apply the text-stroke class to your heading */
.text-stroke {
  /* Text fill color (foreground color) */
 font-family: 'Red Hat Display', sans-serif;
/* color: rgba(255, 255, 255, 1); */
color: rgb(61,65,73);
  text-shadow: 
  2px 2px 0 rgba(255, 255, 255, 0.21), 
  2px -2px 0 rgba(255, 255, 255, 0.21), 
  -2px 2px 0 rgba(255, 255, 255, 0.21), 
  -2px -2px 0 rgba(255, 255, 255, 0.21), 
  2px 0 0 rgba(255, 255, 255, 0.21), 
  0 2px 0 rgba(255, 255, 255, 0.21), 
  -2px 0 0 rgba(255, 255, 255, 0.21), 
  0 -2px 0 rgba(255, 255, 255, 0.21),
  2px 2px 0 rgba(132, 134, 139, 0.21), 
  2px -2px 0 rgba(132, 134, 139, 50.21), 
  -2px 2px 0 rgba(132, 134, 139, 0.21), 
  -2px -2px 0 rgba(132, 134, 139, 0.21), 
  2px 0 0 rgba(132, 134, 139, 0.21), 
  0 2px 0 rgba(132, 134, 139, 0.21), 
  -2px 0 0 rgba(132, 134, 139, 0.21), 
  0 -2px 0 rgba(132, 134, 139, 0.21);


font-style: normal;
font-weight: 900;
line-height: 160%; /* 10rem */
text-transform: uppercase;;
}


.business-title-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 1rem;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(234, 236, 240, 0) 35.1%,
    #eaecf0 100%
  );
  width: 80%;
  padding: 14.9375rem 11rem 8.625rem 11rem;
  margin-bottom: 6rem;

  .business-title {
    color: #101828;
    font-size: 4.5rem;
    font-weight: 900;

    span {
      color: #ff601f;
    }
  }

  .business-desc {
    color: #1d2939;
    font-size: 1rem;
    font-weight: 600;
    line-height: 160%;
    align-items: stretch;
  }
}

.corporate-service-section {
  display: flex;
  background: #f2f4f7;
  padding: 6rem 10rem;
  flex-direction: column;
  height: auto;
  width: 100%;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
  }

  .corporate-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.5rem;
    gap: 1.5rem;

    .corporate-title {
      color: #101828;
      text-align: center;
      font-size: 3rem;
      font-weight: 600;

      span {
        color: #ff601f;
      }
    }

    .corporate-desc {
      color: #344054;
      text-align: center;
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .business-service-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 2rem;

    .business-service-card {
      display: flex;
      background-color: white;
      flex-direction: column;
      border-radius: 0.5rem;
      width: 19rem;
      img {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        height: 12.8125rem;
        object-fit: cover;
      }

      .business-service-text {
        display: flex;
        padding: 2rem 1rem 1.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        align-self: stretch;

        .business-service-title {
          color: #101828;
          text-align: center;
          font-size: 1.125rem;
          font-weight: 700;
          line-height: 160%;

          span {
            color: #ff601f;
          }
        }

        .business-service-desc {
          color: #344054;
          text-align: center;
          font-size: 1rem;
          line-height: 160%;
        }
      }
    }
  }

  .corporate-bottom-text {
    color: #344054;
    text-align: center;
    width: 43.875rem;
    padding: 3.5rem 0;
    line-height: 160%;
  }

  .lets-talk-button {
    display: flex;
    border-radius: 0.5rem;
    background: #ff601f;
    /* Cloudy */
    box-shadow: 0px 14px 16px 0px rgba(29, 41, 57, 0.05);
    padding: 0.75rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    color: var(--base-white, #fff);
    font-weight: 800;
    line-height: 1.5rem;
  }

  .lets-talk-button:hover {
    opacity: 0.8;
  }
}

.custom-solutions-section {
  display: flex;
  flex-direction: column;
  background: #fcfcfd;
  width: 100%;
  padding: 6rem 10rem;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;

  .solutions-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;

    .solutions-title-text {
      color: #ff601f;
      text-align: center;
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 160%;
    }

    .solutions-title {
      color: #101828;
      text-align: center;
      font-size: 4rem;
      font-weight: 600;
    }
  }

  .solution-cards {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .solution-card {
      display: flex;
      border-radius: 1rem;
      padding: 2rem;
      width: 31rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.625rem;
      flex: 1 0 0;

      .solution-card-title {
        color: #101828;
        font-size: 2.25rem;
        font-weight: 700;
        line-height: 160%;
        text-wrap: nowrap;
      }

      .solution-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 2rem;
        gap: 0.5rem;
        align-self: stretch;

        li {
          display: flex;
          flex-direction: row;
          gap: 0.5rem;
        }
      }
    }
  }
}

.impact-business-section {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
  background: #fcfcfd;
  height: 42.0625rem;
  width: 100%;
  padding: 6rem 10rem;

  .impact-title-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1.5rem;

    .impact-title {
      color: #101828;
      font-size: 4rem;
      font-weight: 600;
    }

    .impact-desc {
      color: #344054;
      font-size: 1rem;
      line-height: 160%;
    }
  }

  .impact-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background: #f2f4f7;
    border-radius: 1.5rem;
    width: 100%;
    padding: 1.5rem 1rem;

    div {
      width: 18rem;

      .stats-number {
        color: #101828;
        text-align: center;
        font-size: 4rem;
        font-weight: 700;

        span {
          color: #ff601f;
        }
      }

      .stats-desc {
        color: #344054;
        text-align: center;
        font-size: 1.125rem;
        text-transform: capitalize;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .business-title-card {
    height: 25.6875rem;
    width: 100%;
    padding: 11.3125rem 3.65625rem 8.6875rem 3.59375rem;
    margin-bottom: 4rem;

    .business-title {
      font-size: 4rem;
    }

    .business-desc {
      width: 33.125rem;
    }
  }

  .corporate-service-section {
    display: flex;
    height: auto;
    padding: 4.5rem 2.5rem;
    align-items: flex-start;
    gap: 0.625rem;

    .corporate-title-container {
      gap: 1.5rem;
      align-self: stretch;

      .corporate-title {
        font-size: 2.5rem;
      }
    }

    .business-service-cards {
      flex-direction: column;

      .business-service-card {
        width: 100%;
        margin-bottom: 2rem;

        img {
          height: 12.8125rem;
        }

        .business-service-text {
          padding: 2rem 1rem 1.5rem;
          gap: 0.5rem;
          align-self: stretch;

          .business-service-title {
            font-size: 1.125rem;
          }

          .business-service-desc {
            font-size: 1rem;
          }
        }
      }
    }

    .corporate-bottom-text {
      width: 39.625rem;
    }
  }

  .custom-solutions-section {
    padding: 4.5rem 2.5rem;
    .solutions-title-container {
      .solutions-title-text {
        font-size: 1.25rem;
      }

      .solutions-title {
        font-size: 3rem;
      }
    }

    .solution-cards {
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;

      .solution-card {
        width: 100%;

        .solution-card-title {
          font-size: 2rem;
        }
      }
    }
  }

  .impact-business-section {
    gap: 3rem;
    height: 40rem;
    width: 100%;
    padding: 4.5rem 2.5rem;

    .impact-title-container {
      .impact-title {
        font-size: 3rem;
      }
    }

    .impact-stats {
      div {
        width: 14.1rem;

        .stats-number {
          font-size: 3rem;
        }

        .stats-desc {
          font-size: 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .business-title-card {
    height: 25.5rem;
    padding: 4rem 1rem;
    margin-bottom: 3.5rem;

    .business-title {
      font-size: 2rem;
    }

    .business-desc {
      width: 100%;
      align-items: stretch;
    }
  }

  .corporate-service-section {
    padding: 3rem 0.75rem;
    .corporate-title-container {
      .corporate-title {
        font-size: 1.9rem;
      }

      .corporate-desc {
        font-size: 1rem;
      }
    }
    .corporate-bottom-text {
      width: auto;
    }
  }

  .custom-solutions-section {
    padding: 4rem 1rem;
    .solutions-title-container {
      .solutions-title-text {
        font-size: 1rem;
      }

      .solutions-title {
        font-size: 2rem;
      }
    }

    .solution-cards {
      .solution-card {
        .solution-card-title {
          font-size: 1.5rem;
        }
      }
    }
  }

  .impact-business-section {
    height: 52rem;
    width: 100%;
    padding: 4rem 1rem;

    .impact-title-container {
      .impact-title {
        font-size: 2rem;
      }
    }

    .impact-stats {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      div {
        width: 14.1rem;

        .stats-number {
          font-size: 3rem;
        }

        .stats-desc {
          font-size: 1rem;
        }
      }
    }
  }
}
 .tech-div{
        background: url('/images/curated-bg.png') 50% 50% no-repeat;
        background-size: cover;
    }

    .mtn-div{
        background: url('/images/curated-bg2.png') 50% 50% no-repeat;
        background-size: cover;
    }

    .all-projects{
        position: relative;
        background: url('/images/curated-bg1.png') 50% 50% no-repeat;
        background-size: cover;
    }

    .all-projects:before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #101828AB;
    }


       section{
        background: url('/images/carousel-bg.png') 50% 50% no-repeat;
        background-size: cover;
    }
    
    .create{
        background: url('/public/images/contact-bg.png') 50% 50% no-repeat;
        background-size: cover;
    }

</style>

</main>