---
interface Props {
  component?: string;
  href?: string;
  type?: "submit";
}

const {component,href,type} = Astro.props;
const className ="uppercase transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110 duration-300 px-[20px] py-[12px] hover:bg-[#ff8b1f9c] rounded-[8px] font-['Inter'] font-[700] text-[16px] leading-[24px] text-white bg-[#FF601F] shadow-[0px_14px_16px_0px_#1D29390D]";
---

{
  ({
    a: <a href={href} class={className} >
        <slot />
      </a>
  })[component as string] || <button type={type} class={className}><slot /></button>
}
