---
import Label from './Label.astro';

interface Props {
  label: string;
  placeholder: string;
}

const {label, placeholder} = Astro.props;
---

<div class="grid gap-[6px]">
  <Label>{label}</Label>

  <textarea cols={3} class="resize-none rounded-[8px] border-solid border-[1px] border-[#D0D5DD] py-[16px] px-[14px] font-['Plus_Jakarta_Sans'] font-[400] text-[16px] leading-[24px] outline-none" placeholder={placeholder} />
</div>