---
---

<div class="flex justify-center m-auto items-center max-h-[574px] h-full max-w-[937px] w-full rounded-[16px] bg-[linear-gradient(180deg,_rgba(234,_236,_240,_0.00)_35.1%,_#EAECF0_100%)]
pl-[176px] pr-[176px] py-[239px]
">
    <div class="flex flex-col items-center gap-[24px] w-[937px]">
        <div class="flex gap-[10px] items-center">
            <span class="text-center  text-[72px] red-hat not-italic font-black leading-[normal]">For</span>
            <span class="text-[#FF601F] red-hat text-[72px] not-italic font-black leading-[normal]">Buisnesses</span>
        </div>
        <div class="text-center noto  text-[16px] not-italic font-normal leading-[160%] self-stretch">
            <p>We offer a rich palette of services designed to meet the diverse needs of businesses. Whether it's unveiling a new product, igniting your brand's presence, or enhancing internal communications, our video editing services are tailored to your specific objectives.</p>
        </div>
    </div>
</div>