---
import video from "/public/images/video.png";
import Dropdown from "../components/DropDown.astro";

// const VideoData = [
//     {
//        video: video,
//         text: "A Day in the life of a Software Developer",
//     },
//     {
//         video: video,
//         text: "A Day in the life of a Software Developer",
//     },
//     {
//         video: video,
//         text: "A Day in the life of a Software Developer",
//     },
//     {
//         video: video,
//         text: "A Day in the life of a Software Developer",
//     },
//     {
//         video: video,
//         text: "A Day in the life of a Software Developer",
//     },
//     {
//         video: video,
//         text: "A Day in the life of a Software Developer",
//     },
// ];
---

<style>
.get_in_touch{
            color: var(--gray-1100, #101828);
            text-align: center;
            font-family: 'Red Hat Display', sans-serif;
            font-size: 72px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }
        .get_in_touch_text{
            color: var(--gray-900, #344054);
            text-align: center;
            font-family: Noto Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 25.6px */
        }
        .get_in_touch_brand{
            color: var(--gray-900, #344054);
            font-family: Noto Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 160%;
        }
        .form_link{
        color: var(--gray-900, #344054);
        text-align: center;
        font-family: Noto Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
        }
        .form_link_active{
            cursor: pointer;
            color: #FF601F;
            text-align: center;
            font-family: Noto Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-bottom: 10px;
            border-bottom: 4px solid #FF601F;
        }

        .video_container{
            background-image: url('images/video.png')
        }
</style>

<div class='py-20 my-10 bg-gray-200'>
<h2 class="w-full text: 3xl md:text-[64px] text-center mb-4 px-10 ">Carefully Picked Videos</h2>
<div class="row justify-content-center mb-5" style="border-bottom: 1px solid var(--gray-500, #D0D5DD);">
    <div class="tabs mt-[56px] md:mt-[50px] xl:mt-[64px]">
        <div class="flex justify-center gap-[40px] border-b-[1px] border-solid border-b-[#D0D5DD]">
          <button data-tab-control="business" data-tab-current class="font-['Noto_Sans'] font-[700] text-[16px] leading-[21.79px] text-[#FF601F] pb-[16px] border-b-[4px] border-solid border-b-[#FF601F]">Business</button>
          <button data-tab-control="individual" class="font-['Noto_Sans'] font-[400] text-[16px] leading-[21.79px] text-[#344054] pb-[16px]">Individual</button>
          <Dropdown />
        </div>
          
</div>
<!-- <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-6 lg:max-w-[80%] mx-auto">
  {VideoData.map((item, index) => (
    <div key={index} class="relative group">
      <video width="100%" height="auto" controls class="brightness-0 group-hover:brightness-100  transition-all duration-300 rounded video_container"> 
        <source src="/images/video.png" type="video/mp4" />
      </video>
      <div class="group-hover:opacity-0">
        <img src="/images/video.png" width="70px" class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2" alt="Play Button">
        <p class="absolute bottom-0 left-4 text-white p-2 rounded">
          {item.text}
        </p>
      </div>
    </div>
  ))}
</section> -->


</div>
