<footer >
  <div class="py-[64px] bg-[#FF4D002B]">
    <div class="grid gap-[32px]">
      <p class="font-['Noto_Sans'] font-[500] text-[16px] leading-[24px] text-center text-[#1D2939]">Join 4,000+ companies already growing</p>

      <div class="flex flex-wrap justify-between gap-y-[48px] w-[calc(100%-16px)] max-w-[326px] md:w-[calc(100%-32px)] md:max-w-[770px] md:flex md:flex-wrap md:justify-center md:gap-x-[99px] md:gap-y-[48px] xl:max-w-[1280px] xl:gap-[99px] mx-auto">
        <img src="/images/airbnb.svg" />
        <img src="/images/linear.svg" />
        <img src="/images/paypal.svg" />
        <img src="/images/youtube.svg" />
        <img src="/images/uber.svg" />
        <img src="/images/zoom.svg" />
      </div>
    </div>
  </div>

  <div class="py-[64px] px-[16px] md:px-[40px] md:pt-[72px] md:pb-[56px] xl:px-0 xl:pt-[64px] xl:pb-[48px]">
    <div class="max-w-[1191px] mx-auto">
      <div class="grid gap-[32px] pb-[65px]">
        <img src="/images/Tifi_2.svg" />

        <p class="max-w-[343px] font-['Noto_Sans'] font-[400] text-[16px] leading-[24px] text-[#1D2939]">
          Experience the power of storytelling through the lens of creativity and innovation.
        </p>

        <nav>
          <ul class="flex gap-[32px] flex-wrap">
            <li><a href="/portfolio" class="font-['Noto_Sans'] font-[400] text-[16px] leading-[24px] hover:border-b-2 hover:border-gray-600  text-[#667085]">Portfolio</a></li>
            <li><a href="#portfolio" class="font-['Noto_Sans'] font-[400] text-[16px] leading-[24px] hover:border-b-2 hover:border-gray-600 text-[#667085]">Resources</a></li>
            <li><a href="#portfolio" class="font-['Noto_Sans'] font-[400] text-[16px] leading-[24px] hover:border-b-2 hover:border-gray-600 text-[#667085]">For Businesses</a></li>
            <li><a href="/individuals" class="font-['Noto_Sans'] font-[400] text-[16px] leading-[24px] hover:border-b-2 hover:border-gray-600 text-[#667085]">For Individuals</a></li>
          </ul>
        </nav>
      </div>

      <div class="border-t-[1px] border-t-[#EAECF0] border-solid pt-[32px] grid gap-[32px] md:flex md:justify-between md:gap-0">
        <p class="font-['Inter'] font-[400] text-[16px] leading-[24px] text-[#98A2B3]">&copy; 2077 Tifi. All rights reserved.</p>

        <nav>
          <ul class="flex gap-[24px]">
            <li><a href="#twitter"  ><img class=' hover:-translate-y-1 hover:scale-110 transition ease-in-out delay-150   duration-300' src="/images/twitter.svg" /></a></li>
            <li><a href="#instagram"><img class=' hover:-translate-y-1 hover:scale-110 transition ease-in-out delay-150   duration-300' src="/images/instagram.svg" /></a></li>
            <li><a href="#facebook"><img class=' hover:-translate-y-1 hover:scale-110 transition ease-in-out delay-150   duration-300' src="/images/facebook.svg" /></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>