---
// import professional from "../../assets/productDemo.jpg"
// import improved from "../../assets/camVideos.jpg"
// import bulb from "../../assets/hands.jpg"
import CardwithImage from "../CardwithImage.astro";

---

<div class="w-full h-full bg-[#F2F4F7] mt-[50px] mb-[50px] pt-[40px]">
    <div class="flex flex-col items-center justify-center gap-[24px]">
        <div>
            <p class="text-center red-hat text-[64px] not-italic leading-[normal] font-semibold">Our Palette of <span class="text-[#FF601F] red-hat text-[64px] not-italic font-semibold leading-[normal]">Corporate</span> Video Services</p>
        </div>
        <div class="text-center font-[Noto_Sans] text-[16px] not-italic leading-[normal] w-1/2 ">
            <p>Unlocking the Power of Visual Storytelling for Your Business</p>
        </div>
    </div>

    <div class="flex flex-col md:flex-row w-[80vw] justify-center items-center gap-[31px] m-auto pt-[30px]">
        <CardwithImage 
            image="/images/productDemo.jpg"
            title1="Product"
            title2="Demonstrations"
            description="Present your products in their best light with dynamic and engaging demonstrations that showcase their features and benefits." 
        />
        <CardwithImage 
            image="/images/camVideos.jpg"
            title1="Promotional" 
            title2="Videos"
            description="Craft compelling promotional videos that captivate your audience, drive conversions, and enhance brand visibility."
        />
        <CardwithImage 
            image="/images/hands.jpg"
            title1="Internal" 
            title2="Communications" 
            description="Foster strong internal connections through effective video communication, making sure your message resonates with your team."
            />
    </div>
    <div class="flex flex-col w-[80vw] m-auto items-center gap-[32px]  pb-[40px] pt-[30px]">
        <div class="flex w-[100%] justify-center items-center text-[#344054] text-center noto text-[16px] not-italic font-normal leading-[160%]">
            <p>We believe that every video has a story to tell, and every story has a message that connects. Our corporate video services are not just about visuals; they're about creating a lasting impact on your branding and marketing goals.</p>
        </div>
        <button class="flex px-[20px] py-[12px] justify-center items-center gap-[12px] rounded-[8px] bg-[#FF601F] [box-shadow:0px_14px_16px_0px_rgba(29,_41,_57,_0.05)]">
            <p class="text-[#FFF] font-[Inter] text-[16px] not-italic font-extrabold">LET'S TALK</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                <path d="M17 2L3 16M17 2V15.1765M17 2H3.82353" stroke="white" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel"/>
            </svg>
        </button>
    </div>
</div>

