<div class="flex px-[160px] py-[96px] justify-center items-center bg-[rgba(16,_24,_40,_0.70)] [@media(max-width:825px)]:py-[70px]">
    <div class="flex flex-col items-start gap-[64px] self-stretch">
        <div class="flex max-w-[702px] w-full flex-col items-start gap-[24px]">
            <div>
                <p class="text-[#FFF] red-hat text-[64px] not-italic font-bold leading-[normal] [@media(max-width:825px)]:text-48px">Elevating Your Brand's Identity</p>
            </div>
            <div>
                <p class="text-[#FFF] noto text-[20px] not-italic font-medium leading-[160%]">Your brand's identity is at the core of your business, and it's our privilege to enhance it through video storytelling. We believe that video is the medium that connects brands to their audience, and we're here to craft your unique narrative.</p>
            </div>
        </div>
        <div class="flex items-center justify-center gap-[109px] [@media(max-width:825px)]:flex-col self-stretch">
            <div class="content-[''] bg-[rgba(255,_255,_255,_0.12)] max-w-[464px] max-h-[250px] h-full w-full"></div>
            <div class="text-[#FFF] noto text-[20px] not-italic font-medium leading-[160%]">
                <p>Our expertise in video storytelling goes beyond the visual. It's about weaving a narrative that speaks directly to your audience, creating a connection that goes beyond words. With tifi.tv, your branding and marketing efforts are not just campaigns; they're stories waiting to be told.</p>
            </div>
        </div>
    </div>
</div>