<div class="flex flex-col items-center justify-center max-h-[673px] gap-[40px] h-full mb-[40px]">
    <div class="flex max-w-[1192px] w-full flex-col items-center gap-[20px]">
        <p class="text-[#101828] text-center red-hat text-[64px] not-italic font-semibold leading-[normal]">Our Impact on Businesses</p>
        <p class="w-[702px] text-[#344054] text-center noto text-[16px] not-italic font-normal leading-[160%]">Stories of transformation, engagement, and success.</p>
    </div>
    <div class="flex max-w-[1192px] w-full px-[16px] py-[24px] flex-col items-start gap-[10px] rounded-[24px] bg-[#F2F4F7]">
        <div class="flex items-start gap-[24px] self-stretch">
            <div class="flex flex-col justify-center items-center gap-[8px] flex-[1_0_0]">
                <div>
                    <p class="text-[#101828] text-center noto text-[64px] not-italic font-bold ">3000<span class="text-[#FF601F] text-center red-hat text-[64px] not-italic font-bold leading-[normal]">+</span></p>
                </div>
                <div>
                    <p class="text-[#344054] text-center noto text-[18px] not-italic font-normal leading-[normal] capitalize">Businesses empowered</p>
                </div>
            </div>
            <div class="flex flex-col justify-center items-center gap-[8px] flex-[1_0_0]">
                <div>
                    <p class="text-[#101828] text-center noto text-[64px] not-italic font-bold ">50<span class="text-[#FF601F] text-center red-hat text-[64px] not-italic font-bold leading-[normal]">%</span></p>
                </div>
                <div>
                    <p class="text-[#344054] text-center noto text-[18px] not-italic font-normal leading-[normal] capitalize">growth in online engagement</p>
                </div>
            </div>
            <div class="flex flex-col justify-center items-center gap-[8px] flex-[1_0_0]">
                <div>
                    <p class="text-[#101828] text-center noto text-[64px] not-italic font-bold ">100m<span class="text-[#FF601F] text-center red-hat text-[64px] not-italic font-bold leading-[normal]">+</span></p>
                </div>
                <div>
                    <p class="text-[#344054] text-center noto text-[18px] not-italic font-normal leading-[normal] capitalize">Total Views</p>
                </div>
            </div>            
        </div>
    </div>
    <div class="flex flex-col justify-center items-center gap-[8px] flex-[1_0_0]">
        <p class="text-[#344054] w-[704px] text-center noto text-[16px] not-italic font-normal leading-[160%]">These figures reflect the tangible results we deliver to businesses across diverse sectors. Our video editing and storytelling expertise drive growth and success</p>
    </div>
</div>

<style>
    .dots {
        background-image: url("../../assets/dots.jpg");
        background-position: top left;
        background-repeat: no-repeat;
    }
</style>