---
import BrandingMarketing from "./Branding-Marketing.astro";
import DigitalMarketing from "./Digital-Marketing.astro";


---



<div class="flex px-[160px] py-[96px] flex-col items-start gap-[10px] bg-[#FCFCFD]">
    <div class="flex w-full flex-col items-center gap-[56px]">
        <div class="flex flex-col justify-center items-center gap-[24px] self-stretch">
            <div class="text-[#FF601F] text-center noto text-[20px] not-italic font-bold leading-[160%] w-[577px]">
                <p>WHAT WE CAN DO FOR YOU</p>
            </div>
            <div class="text-[#101828] text-center red-hat text-[64px] not-italic font-semibold leading-[normal]">
                <p>Custom Solutions for...</p>
            </div>
        </div>
        <div class="flex items-start gap-[32px] self-stretch">
            <BrandingMarketing />
            <DigitalMarketing />
        </div>
    </div>
</div>