---
interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title,
  description = "Crafting Visual Stories Beyond Imagination",
  image = "/images/band.jpg",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content={image} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans:wght@400;500;700&family=Plus+Jakarta+Sans:wght@500&family=Red+Hat+Display:wght@700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="min-h-screen">
    <slot />
  </body>
</html>
